*{
    margin: 0;
    padding: 0;
}

.especies{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 5%;
    margin-top: 2%;
}

.especies .nombre{
    color: white;
    text-decoration: none;
}

.especies .foto{
    width: 100%;
    margin-top: 2%;
}

.especies a{
    width: 50%;
}

button {
    color: #ffe81f;
    background-color: black;
}