*{
    margin: 0;
    padding: 0;
}

.personajes{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 5%;
    margin-top: 2%;
}

.personajes p{
    color: black;
    text-decoration: none;
}

.personajes img{
    width: 50%;
    margin-top: 2%;
}