@import url('https://fonts.cdnfonts.com/css/star-wars');

*{
    margin: 0;
    padding: 0;
    font-family: 'Star Wars', sans-serif;
}

.fondo{
    background-image: url(./images/esstrella_muerte.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo{
    margin-top: 1%;
    margin-left: 2%;
    color: yellow;
}

ul{
    list-style-type: none;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 20px;
}

li > a{
    text-decoration: none;
    color: yellow;
    display: block;
    padding: 20px;
    
}

li{
    border: 1px solid black;
    display: inline-block;
    background-color: #dcdcdc;
}

li > a:not(.activo):hover{
    background-color: black;
    color: yellow;
}

li > a.activo{
    background-color: black;
    color: yellow;
}