ul{
    list-style-type: none;
    width: 50%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

li > a{
    text-decoration: none;
    color: initial;
    display: block;
    padding: 20px;
    
}

li{
    border: 1px solid black;
    display: inline-block;
    background-color: #dcdcdc;
}

li > a:not(.activo):hover{
    background-color: gray;
    color: white;
}

li > a.activo{
    background-color: black;
    color: yellow;
}